@font-face {
    src: url('Oswald-Bold.ttf');
}
#button-quit{
    -fx-font-size:30px;
    -fx-font-family: 'Oswald';
}

#button-multiplayer {
    -fx-font-size: 30px;
    -fx-font-family: 'Oswald';
}

#button-start{
    -fx-font-size:30px;
    -fx-font-family: 'Oswald';
}